DATABASE_URL=sqlite:///./printmanager.db
SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
AUTO_CREATE_TABLES=false
APP_NAME=PrintManager Pro
API_PREFIX=/api/v1
ADMIN_TENANT_NAME=Empresa Modelo
ADMIN_TENANT_DOCUMENT=00000000000000
ADMIN_NAME=Usuario Modelo
ADMIN_EMAIL=demo@printerpro.com
ADMIN_PASSWORD=123456
VITE_API_URL=http://localhost:18000/api/v1
